<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/layout :: head}">
    <!-- Additional head content can go here -->
</head>

<body class="d-flex flex-column min-vh-100">
    <!-- Navigation -->
    <div th:replace="~{fragments/layout :: navbar}"></div>

    <!-- Flash Messages -->
    <div th:replace="~{fragments/layout :: flash-messages}"></div>

    <!-- Main Content -->
    <main class="container mb-4 flex-grow-1">
        <div th:include="${content}"></div>
    </main>

    <!-- Footer -->
    <footer th:replace="~{fragments/layout :: footer}"></footer>

    <!-- Scripts -->
    <div th:replace="~{fragments/layout :: scripts}"></div>
</body>
</html>